body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f5f5f5;
}

header {
    background-color: #0d0d0d;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

.leyenda {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leyenda h2 {
    color: #ffa500;
}

.leyenda p {
    line-height: 1.6;
}

.leyenda img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.leyenda ul {
    list-style-type: none;
    padding: 0;
}

.leyenda ul li {
    background-color: #444;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.leyenda ul li:hover {
    background-color: #555;
}

.leyenda ul li a {
    color: #ffa500;
    text-decoration: none;
}

.leyenda ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #0d0d0d;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .leyenda {
        flex: 0 0 45%;
        margin-bottom: 20px;
    }
}
